

/* Add spacing at the top of pages */

.page_container
{
	padding-top: 70px;
	padding-bottom: 50px;
}

.current_page_images
{
	margin-bottom: 15px;
}

/* Correcting the layout of checkbox lists */

.checkboxlist_help
{
	padding-top: 5px;
	margin-bottom: 5px;
}

.checkboxlist label,
span label
{
	display: inline;
	vertical-align: middle;
}

span label
{
	margin-left: 3px;
}

.checkboxlist input
{
	margin-top: 0px;
	margin-right: 5px;
}

/* Table actions button spacing */

.index_actions .btn
{
	margin-right: 5px;
}

/* Remove spacing from inputs in tables */

.table input,
.table select
{
	margin-bottom: 0px;
}

/* Labels in the head of tables should be bold too */

th label
{
	font-weight: bold;
}

/* Center text in tables when needed */

th.center,
td.center
{
	text-align: center;
}

/* Inline form spacing */

.form-inline input
{
	margin-right: 4px;
}

/* Vertically align buttons in headings */

h2 .btn-small
{
	margin-top: 0.5em;
}

/* Extra spacing for forms in accordions */

form .accordion-inner
{
    padding-top: 25px;
}

.accordion-heading h4
{
    margin: 0.25em 0px;
}

.accordion-heading h4 a
{
    outline: none;
}

.details_table
{
    text-align: left;
}

.details_table .attribute_label
{
    text-align: right;
    width: 160px;
}

.details_table td
{
    min-width: 60px;
}

.details_table .center
{
    text-align: center;
}

.details_table .right
{
    text-align: right;
}

.table .filters td
{
    min-width: 30px;
}

.table .filters input
{
    width: 90%;
}

.table .filters select
{
    width: auto;
}

/* ERROR MESSAGES */

.errorMessage
{
    color: #CC3333;
    padding-top: 5px;
}

.count_number
{
    margin: 0px;
    color: #999999;
}

.popover
{
    white-space:nowrap;
    max-width: 800px;
    width: auto;
}

#page_listing_choice .page,
#page_listing_choice .listing
{
    display: none;
}

.btn.pull-right
{
    margin-left: 5px;
}