body
{
	/* font-family: "ff-tisa-web-pro"; */
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	color: #363636;
	font-weight: 300;
	margin: 0px;
}


/* BUZZER */

.screen
{
	display: none;
}

.buzzer
{
	font-size: 50px;
	font-weight: bold;
	background: #00B266;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	width: 100%;
	height: 100vh;
	line-height: 100vh;
}

.buzzer_locked
{
	background: red;
}

/* SCOREBOARD */

#scoreboard
{
	overflow: hidden;
	background: #006631;
		background: url(/_images/background.jpg) no-repeat center center;
	background-size: cover;

}

#scoreboard .player
{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	overflow: hidden;
}

#scoreboard .player .photo
{
	position: absolute;
	left: 0px;
	bottom: 130px;
	line-height: 0;
	width: 100%;
	margin: 0px;
	opacity: 0.4;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: scale .25s ease-in-out;
}

#scoreboard .player_connected .photo
{
	opacity: 1;
}

#scoreboard .player .photo img
{
	width: 80%;
	transition: width .2s;
	-moz-transition: width .2s;
	-webkit-transition: width .2s;
}

#scoreboard .buzzed .photo img
{
	width: 90%;
}

#scoreboard .player .board
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	color: #363636;
	font-weight: bold;
	text-transform: uppercase;
	height: 130px;
}

#scoreboard .player .board_inner
{
	padding: 0px 10px;
}

#scoreboard .player .board_top
{
	
}

#scoreboard .player .name_outer
{
	border: 4px solid #333333;
}

#scoreboard .player .name
{
	background: #999999;
	color: #333333;
	margin: 0px;
	padding: 5px;
	font-size: 20px;
	line-height: 22px;
	height: 20px;
}

#scoreboard .buzzed .name
{
	background: #fdc380;
}

#scoreboard .player .time
{
	border: 3px solid #333333;
	margin: 0px;
	border-radius: 8px;
	background: #DDDDDD;
	display: block;
	color: #333333;
	display: block;
	widows: 40%;
	position: absolute;
	right: 15px;
	top: -40px;
	padding: 5px 10px;
	display: none;
}

#scoreboard .player .board_middle
{
	padding: 0px 20px;
}

#scoreboard .player .board_middle span
{
	display: block;
	height: 5px; 
	background: #000000;
}

#scoreboard .player .board_bottom
{
	background: #33362F;
	border-top: 10px solid #43271F;
	padding: 8px 20px;
}

#scoreboard .player .score_outer
{
	background: #150063;
	line-height: 58px;
	height: 54px;
	font-size: 40px;
	border: 4px solid #111111;
}

#scoreboard .player .score
{
	margin: 0px;
	color: #FFFFFF;
}


/* QUIZMASTER */

#quizmaster
{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

#quizmaster .next,
#quizmaster .correct,
#quizmaster .incorrect
{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    width: 100%;
	height: 50vh;
	line-height: 50vh;
}

#quizmaster .next,
#quizmaster .password
{
	background: #ff6700;
}

#quizmaster .next
{
    display: none;
}

#quizmaster .password
{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100vh;
}

#quizmaster .password .inner
{
    width: 100%;
}

#quizmaster .password span
{
	display: block;
	width: 80%;
	margin: 0px auto;
}

#quizmaster .password input
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	font: inherit;
	font-size: 8vmin;
	border: 0px;
	border-radius: 0px;
}

#quizmaster .password .button
{
    margin-top: 0.2em;
    background: #666666;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
}

#quizmaster .correct
{
	background: #00B266;
	display: none;
}

#quizmaster .incorrect
{
	background: red;
	display: none;
}

#quizmaster .waiting
{
	background: grey;
	display: none;
	height: 100vh;
	line-height: 100vh;
}

#quizmaster .next
{
	height: 100vh;
	line-height: 100vh;
}

/* PROJECTOR */

#projector
{
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: #1863ae;
    color: #FFFFFF;
}

#projector .question
{
    width: 80%;
    margin: 0px auto;
    display: none;
}

#projector .question p
{
    margin: 5vh 0px;
}

#projector .question .text
{
    font-size: 7vmin;
    line-height: 1.1;
}

/* NAV */

.nav_list
{
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

.nav_list li
{
	line-height: 60px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	border: 2px solid #FFFFFF;
	background: #1863AE;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 5px;
	position: relative;
}

.nav_list li:nth-child(5n+2)
{
	background: #EC0972;
}

.nav_list li:nth-child(5n+3)
{
	background: #8B55BF;
}

.nav_list li:nth-child(5n+4)
{
	background: #5EBCE5;
}

.nav_list li:nth-child(5n+5)
{
	background: #ff6700;
}

.nav_list li a,
.nav_list li span
{
	display: block;
	padding: 0px;
	color: #FFFFFF;
	text-decoration: none;
}

.nav_list li .add,
.nav_list li .subtract
{
	position: absolute;
	left: 10px;
	top: 0px;
	padding: 0px;
	font-size: 50px;
	line-height: 50px;
}

.nav_list li .subtract
{
	left: auto;
	right: 10px;
}

.nav_list .spacer_bottom
{
	margin-bottom: 30px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
