body
{
	/* font-family: "ff-tisa-web-pro"; */
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	color: #363636;
	font-weight: 300;
	overflow: hidden;
}

/* BUZZER */

.screen
{
	display: none;
}

#buzzer a
{
	font-size: 50px;
	font-weight: bold;
	background: green;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

#buzzer .locked
{
	background: red;
}

/* SCOREBOARD */

#scoreboard
{
	overflow: hidden;
	background: #006631;
}

#scoreboard .player
{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	overflow: hidden;
}

#scoreboard .player .photo
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	margin: 0px;
}

#scoreboard .player .photo img
{
	width: 80%;
}

#scoreboard .player .board
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	background: #999999;
	border-top: 5px solid #363636;
	border-bottom: 5px solid #363636;
	color: #363636;
	font-weight: bold;
	text-transform: uppercase;
}

#scoreboard .buzzed .board
{
	background: #FEDF84;
}

#scoreboard .player .name
{
	float: left;
	margin: 0px;
	padding: 10px;
	border-left: 2px solid #363636;
}

#scoreboard .player .score
{
	border-left: 4px solid #363636;
	border-right: 2px solid #363636;
	float: right;
	margin: 0px;
	padding: 10px 0px;
	width: 20%;
	background: #4B31D0;
	color: #FFFFFF;
}

#scoreboard .player:last-child .score
{
	border-right: 4px solid #363636;
}

/* QUIZMASTER */

#quizmaster .controls
{
	list-style-type: none;
	border: 
}

/* NAV */

.nav
{
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

.nav li
{
	line-height: 60px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	border: 2px solid #FFFFFF;
	background: #1863AE;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 5px;
	position: relative;
}

.nav li:nth-child(5n+2)
{
	background: #EC0972;
}

.nav li:nth-child(5n+3)
{
	background: #8B55BF;
}

.nav li:nth-child(5n+4)
{
	background: #5EBCE5;
}

.nav li:nth-child(5n+5)
{
	background: #FF6800;
}

.nav li a,
.nav li span
{
	display: block;
	padding: 0px;
	color: #FFFFFF;
	text-decoration: none;
}

.nav li .add,
.nav li .subtract
{
	position: absolute;
	left: 10px;
	top: 0px;
	padding: 0px;
	font-size: 50px;
	line-height: 50px;
}

.nav li .subtract
{
	left: auto;
	right: 10px;
}

.nav .spacer_bottom
{
	margin-bottom: 30px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
